* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

.center {
    /* padding-left: calc(50% - 680px);
    padding-right: calc(50% - 680px); */
    width: 1600px;
    margin-left: auto;
    margin-right: auto;

    /* height: 75px;
    flex-shrink: 0; */

    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
}

.header {
    height: 75px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul {
    list-style-type: none;
    display: flex;
    fill: #222;
    align-items: baseline;
}

.li1 {
    /* padding-left: 231px; */
    padding-right: 41px;
    margin-left: auto;
    /* margin-right: auto; */
    width: 44px;
    height: 38px;
}

.li2 {
    padding-right: 859px;
    width: 26.002px;
    height: 26.792px;

}

.li3 {
    width: 158.996px;
    height: 29px;
    /* margin-left: auto; */
    margin-right: auto;
}

.top {
    display: flex;
    justify-content: center;
    fill: #F1E4E6;
    background: #F1E4E6;
}

.top__left {
    width: 56%;
}

.top__right {
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: center;
}

.top__img {
    width: 12px;
    height: 92px;
    padding-right: 16px;
}

.top__p {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-wrap: wrap;
    flex-direction: column;

}

.top_h2 {
    display: inline;
}

.top__p_h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.top__p_h2 {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.top_pink {
    color: #F16D7F;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.center_items {
    /* display: -ms-grid; */
    /* display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px; */



    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-width: 10%;
    grid-column-gap: 2%;
    grid-row-gap: 2%;
    padding-bottom: 7%;
    overflow: hidden; */

    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1200px;
    padding: 40px 20px;
    box-sizing: border-box;
}

.center_item, .center_bigitem {
    /* display: flex;
    flex-direction: column;
    gap: 30px; */

    position: relative;
    /* Сделаем элементы родителями для текста */
    text-align: center;
    background-color: #FFF;
    padding: 20px;
    border: 1px solid #F26376;
    ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.center_item img, .center_bigitem img {
    max-width: 100%;
    height: auto;
}


.center_bigitem {
    /* display: flex;
    flex-direction: column;
    gap: 30px; */
    grid-column: 1/-1;
}

.center_item_txt {
    /* display: flex; */
    position: absolute;
    /* Позиционируем текст абсолютно */
    bottom: 20px;
    /* Размещаем текст внизу */
    left: 0;
    right: 0;
    /* background-color: rgba(0, 0, 0, 0.7); */
    color: #fff;
    padding: 10px 0px 90px;
    ;

}

.center_p {
    color: #F16D7F;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.center_h2 {
    /* color: #F16D7F; */
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text_center {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1_center {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.h2_center {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.bottom {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: baseline;
    border-color: #F26376;
    ;
    background-color: #F7E4E2;
    ;
}

.bottom_img {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.bottom_item {
    position: relative;

    text-align: start;
    background-color: #FFF;
    padding: 20px;
    border: 1px solid #F26376;
    ;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bottom_h1 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 16px;
}

.bottom_p {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 16px;
}

.bottom_h2 {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.div_button {
    margin-bottom: 40px;
    margin-top: 10px;
}

.button {
    display: block;
    align-items: center;
    margin-top: 40px;
    width: 212px;
    height: 48px;
    border-color: #F26376;
    ;
    padding: 0;
}

.button_text {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}